@import './variables';
@import 'reset-css';

:root {
  --header-padding-bottom: 0.5rem;
  --header-padding-top: calc(env(safe-area-inset-top, 0px) + var(--header-padding-bottom, 0.5rem));
  --header-padding-horizontal: var(--container-padding, 1.5rem);
  --header-padding: var(--header-padding-top) var(--header-padding-horizontal)
    var(--header-padding-bottom);
  --header-height: calc(env(safe-area-inset-top, 0px) + 4rem);
  @media (min-width: 1024px) {
    & {
      --header-padding-bottom: 1.5rem;
      --header-padding-top: calc(
        env(safe-area-inset-top, 0px) + var(--header-padding-bottom, 1.5rem)
      );
      --header-padding: var(--header-padding-top) var(--header-padding-horizontal)
        var(--header-padding-bottom);
      --header-height: calc(env(safe-area-inset-top, 0px) + 5.5rem);
    }
  }
}

// :root {
//   --c-brand: #fff;
//   --c-brand-rgb: 255, 255, 255;
//   --c-brand-tuned: #fff;
//   --c-brand-tuned-rgb: 255, 255, 255;
//   --c-accent: #56af40;
//   --c-accent-rgb: 86, 175, 64;
//   --c-success: #56af40;
//   --c-success-rgb: 86, 175, 64;
//   --c-info: #1d6ec5;
//   --c-info-rgb: 29, 110, 197;
//   --c-warning: #fc8800;
//   --c-warning-rgb: 252, 136, 0;
//   --c-error: #e9555b;
//   --c-error-rgb: 233, 85, 91;
//   --c-surface: #fff;
//   --c-surface-rgb: 255, 255, 255;
//   --c-overlay: #14171d;
//   --c-overlay-rgb: 20, 23, 29;
//   --c-link: #56af40;
//   --c-link-rgb: 86, 175, 64;
//   --c-mono-0: #000;
//   --c-mono-0-rgb: 0, 0, 0;
//   --c-mono-50: #0a0c0f;
//   --c-mono-50-rgb: 10, 12, 15;
//   --c-mono-100: #14171d;
//   --c-mono-100-rgb: 20, 23, 29;
//   --c-mono-200: #2f3236;
//   --c-mono-200-rgb: 47, 50, 54;
//   --c-mono-300: #595d62;
//   --c-mono-300-rgb: 89, 93, 98;
//   --c-mono-400: #838587;
//   --c-mono-400-rgb: 131, 133, 135;
//   --c-mono-500: #aaaeb0;
//   --c-mono-500-rgb: 170, 174, 176;
//   --c-mono-600: #c1c4c7;
//   --c-mono-600-rgb: 193, 196, 199;
//   --c-mono-700: #d7dbde;
//   --c-mono-700-rgb: 215, 219, 222;
//   --c-mono-800: #e7eaed;
//   --c-mono-800-rgb: 231, 234, 237;
//   --c-mono-900: #f3f5f7;
//   --c-mono-900-rgb: 243, 245, 247;
//   --c-mono-1000: #fff;
//   --c-mono-1000-rgb: 255, 255, 255;
//   --c-notify: #ffc230;
//   --c-notify-rgb: 255, 194, 48;
//   --c-on-brand: #383868;
//   --c-on-brand-rgb: 56, 56, 104;
//   --c-on-accent: #fff;
//   --c-on-accent-rgb: 255, 255, 255;
//   --c-on-success: #fff;
//   --c-on-success-rgb: 255, 255, 255;
//   --c-on-info: #fff;
//   --c-on-info-rgb: 255, 255, 255;
//   --c-on-warning: #333;
//   --c-on-warning-rgb: 51, 51, 51;
//   --c-on-error: #fff;
//   --c-on-error-rgb: 255, 255, 255;
//   --c-on-surface: #14171d;
//   --c-on-surface-rgb: 20, 23, 29;
//   --c-on-overlay: #fff;
//   --c-on-overlay-rgb: 255, 255, 255;
//   --c-on-link: #fff;
//   --c-on-link-rgb: 255, 255, 255;
//   --c-on-mono-0: #fff;
//   --c-on-mono-0-rgb: 255, 255, 255;
//   --c-on-mono-50: #fff;
//   --c-on-mono-50-rgb: 255, 255, 255;
//   --c-on-mono-100: #fff;
//   --c-on-mono-100-rgb: 255, 255, 255;
//   --c-on-mono-200: #fff;
//   --c-on-mono-200-rgb: 255, 255, 255;
//   --c-on-mono-300: #fff;
//   --c-on-mono-300-rgb: 255, 255, 255;
//   --c-on-mono-400: #fff;
//   --c-on-mono-400-rgb: 255, 255, 255;
//   --c-on-mono-500: #fff;
//   --c-on-mono-500-rgb: 255, 255, 255;
//   --c-on-mono-600: #333;
//   --c-on-mono-600-rgb: 51, 51, 51;
//   --c-on-mono-700: #333;
//   --c-on-mono-700-rgb: 51, 51, 51;
//   --c-on-mono-800: #333;
//   --c-on-mono-800-rgb: 51, 51, 51;
//   --c-on-mono-900: #383868;
//   --c-on-mono-900-rgb: 56, 56, 104;
//   --c-on-mono-1000: #333;
//   --c-on-mono-1000-rgb: 51, 51, 51;
//   --c-on-notify: #463100;
//   --c-on-notify-rgb: 70, 49, 0;
// }

*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid rgba(20, 23, 29, 0.1);
  border-color: $hr-color;
}

#__layout,
#root,
body,
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font-family;
}

#__layout,
#__layout > *,
#root body {
  flex-grow: 1;
}

.ab-layout {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $bg-color;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  &-small {
    max-width: 610px;
  }
}

.container,
.container-fluid,
.container-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container-full .ab-card,
.container-small .ab-card,
.container .ab-card {
  margin-left: calc($container-padding * -1);
  margin-right: calc($container-padding * -1);
  width: calc(100% + $container-padding * 2);
  @media (min-width: 1024px) {
    & {
      margin-left: unset;
      margin-right: unset;
      width: 100%;
    }
  }
}

@media (min-width: 692px) {
  .md\:hidden {
    display: none;
  }
}

input {
  color: #ffffff;
}

.link,
a {
  color: $secondary-color;
}

.link:hover,
a:not([class]):hover {
  color: $secondary-color-hover;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: inherit;
  padding: 0;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  background-image: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 1rem 0;
  border-color: $hr-color;
}

h1 {
  font-size: $font-size-22;
}
h2 {
  font-size: $font-size-20;
}
h3 {
  font-size: $font-size-18;
  margin: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  cursor: inherit;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-bottom: 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-top: 0;
}

p {
  font-size: $font-size-14;
}

/*Flex Box*/
.flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
  &-grow {
    flex-grow: 1;
  }
  &-1 {
    flex: 1 1 0%;
  }
}
.justify-end {
  justify-content: flex-end;
}
/*/Flex Box*/

/*Grid*/
.grid {
  display: grid;
}
.gap-4 {
  grid-gap: 1rem;
  gap: 1rem;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
/*/Grid*/

.max-w-full {
  max-width: 100%;
}
.relative {
  position: relative;
}
.whitespace-no-wrap {
  white-space: nowrap;
}
.leading-none {
  line-height: 1;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.inline-block {
  display: inline-block;
}

.rounded-lg {
  border-radius: 0.375rem;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
.w-10 {
  width: 2.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.ml-6 {
  margin-left: 1.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mr-6 {
  margin-right: 1.5rem;
}

.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.mt-auto {
  margin-top: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pt-6 {
  padding-top: 1.5rem;
}

.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.link-uppercase {
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-gray {
  color: $gray-color;
}

.text-black {
  color: $black-color;
}

.text-white {
  color: $white-color;
}

.ant-switch-checked {
  background-color: $secondary-color !important;
  color: #fff; /* Цвет для состояния checked */
}

.ant-switch:not(.ant-switch-checked) {
  background-color: #e9555b !important;
  color: #fff; /* Цвет для состояния unchecked */
}

.bg-color {
  background-color: $bg-color;
}

.bg-success {
  background-color: $secondary-color;
  color: #fff;
}

.bg-error {
  background-color: #e9555b;
  color: #fff;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-gray {
  background-color: $gray-color;
}

.bg-black {
  background-color: $black-color;
}

.bg-white {
  background-color: $white-color;
}

.ant-btn-primary {
  box-shadow: none;
}
.eb-calendar-page__aside .ant-layout-sider-children {
  height: unset;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  font-family: $font-family;
  font-size: $font-size-16;
  font-weight: $font-weight-medium;
  color: $white-color;
  background-color: $primary-color;
  border-radius: 25px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.btn-form {
  display: inline-block;
  border: none;
  outline: none;
  font-family: $font-family;
  font-size: $font-size-16;
  font-weight: $font-weight-medium;
  color: $white-color;
  background-color: $primary-color;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
