@import "./globalscss/variables";

.react-calendar {
	border: 0 !important;
}

.custom-calendar .react-calendar__viewContainer {
	border-radius: 12px;
	background-color: var(--card-color);
	padding: 2em 0.5em;
}

.custom-calendar .react-calendar__navigation {
	display: flex;
	justify-content: space-between;
}

.custom-calendar .react-calendar__navigation__prev-button {
	order: 1;
	text-align: center;
	background-color: var(--card-color);
	font-size: x-large;
	font-weight: 500;
	border-radius: 12px;
	/* Переместить кнопку "Назад" вправо */
}

.custom-calendar .react-calendar__navigation__label {
	order: 0;
	/* Переместить заголовок влево */
	padding-left: 12px;
	font-size: large;
	font-weight: 600;
	/* Центрировать текст заголовка */
}

.custom-calendar .react-calendar__navigation__next-button {
	order: 2;
	margin-left: 6px;
	text-align: center;
	background-color: var(--card-color);
	font-size: x-large;
	font-weight: 500;
	border-radius: 12px;
	/* Переместить кнопку "Вперед" влево */
}

.custom-calendar .react-calendar__tile--active {
	border-radius: 8px;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
	background-color: transparent;
	border: 1px solid var(--primary-color);
}

.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus {
	background-color: var(--primary-color);
}

.custom-calendar .react-calendar__tile {
	border-radius: 8px;
	border: 1px solid transparent;
}



.custom-calendar .react-calendar button {}

.custom-calendar .react-calendar__navigation button:disabled {
	background-color: transparent;
}

.ab-schedule-custom {
	.rbc-toolbar {
		display: none;
		/* Убираем тулбар */
	}

	.rbc-calendar {
		background-color: var(--card-color);
		/* Цвет фона */
		color: var(--gray-text-color);
		/* Цвет текста */
		border: none;
	}

	.rbc-time-header {
		background-color: var(--card-color);
		border: none;
		/* Цвет фона хедера */
	}

	.rbc-time-header-cell {
		border: none;
		color: #ffffff;
	}

	.rbc-timeslot-group {
		border: none;
		height: 120px;
	}

	.rbc-time-slot {
		border-top: 1px solid var(--card-color);
		height: 60px;
	}

	.rbc-event {
		background-color: #ff7a00;
		/* Цвет событий */
		border: 1px solid #ff7a00;
		color: #ffffff;
	}

	.rbc-selected-cell {
		background-color: rgba(255, 122, 0, 0.5);
		/* Цвет выделенной ячейки */
	}

	.rbc-today {
		background-color: var(--bg-color);
	}

	.rbc-off-range-bg {
		background-color: var(--bg-color);
		/* Цвет ячеек вне диапазона */
	}

	.rbc-time-content {
		border-top: 2px solid var(--card-color);
		overflow-y: auto;
		/* Включаем вертикальный скролл для контента */
		height: calc(100vh - 6rem);
		/* Высота контента для календаря */
	}

	.rbc-time-header-content {
		border-right: 1px solid var(--card-color);
	}

	.rbc-day-slot .rbc-time-slot {
		border-top: 1px solid var(--card-color);
	}

	.rbc-time-column .rbc-time-slot {
		&:hover {
			background-color: rgba(255, 122, 0, 0.2);
			/* Цвет заливки при наведении */
			cursor: pointer;
		}
	}

	.rbc-time-column .rbc-timeslot-group {
		flex: none;
	}
}

.hovered-event-details {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 10;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	pointer-events: none;
	/* Чтобы информация не мешала взаимодействию с календарем */
}