@import "./globalscss/variables";

input,
textarea {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	outline: none;
	appearance: none;
	font-family: inherit;
	resize: none;
}

.ab-page-headline {
	justify-content: space-between;
}

page-services-page .background {
	position: fixed;
	max-width: 600px;
	width: 100%;
	min-height: 130px;
	bottom: 0;
	background-color: var(--white-color);
}

.button {
	font-family: inherit;
	font-style: normal;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-16);
	line-height: var(--line-height-24);
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	max-height: 100%;
	-webkit-tap-highlight-color: transparent;

	&.full-width {
		width: 100%;
	}

	&.size-medium {
		padding: 12px;
		border-radius: 16px;
	}

	&.type-primary {
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
		color: var(--white-color);

		@media (hover),
		(min-width: 0) {
			&:hover {
				color: var(--white-color);
				box-shadow: 0 1px 2px var(--bg-color);
				background-color: rgba(var(--primary-color-none-rgb), 0.9);
				border: 1px solid rgba(var(--primary-color-none-rgb), 0.9);
			}
		}
	}

	&.button-disabled {
		background-color: var(--primary-color-disabled);
		border: 1px solid var(--primary-color-disabled);

		@media (hover),
		(min-width: 0) {
			&:hover {
				color: var(--white-color);
				box-shadow: 0 1px 2px var(--bg-color);
				background-color: var(--primary-color-disabled);
				border: 1px solid var(--primary-color-disabled);
			}
		}
	}

	&__row {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	&__label {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 8px;
		font-style: normal;
		font-weight: var(--font-weight-regular);
		font-size: var(--font-size-16);
		line-height: var(--line-height-24);
		border-radius: 50%;
		color: var(--primary-color);
		background-color: var(--white-color);

		&:not(:empty) {
			width: 24px;
			height: 24px;
			padding: 2px 4px;
		}
	}
}

@keyframes slideInUp {
	from {
		transform: translateY(100%);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.services {
	&__total-cost {
		margin-top: 16px;
	}
}

.short-info {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.service {
	&-item {
		cursor: pointer;
		display: block;

		&:not(:last-child) {
			padding-bottom: 12px;
		}

		&.frame {
			padding: 8px 0;
		}
	}

	&-actions {
		display: flex;
		flex-direction: row;
		gap: 8px;
	}

	&-item-price {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: var(--dark-gray-color);
	}

	&-item-title {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: var(--dark-gray-color);
	}

	&-basket-info &-selection-icon {
		width: 24px;
		height: 24px;
		color: var(--gray-color);
	}

	&-basket {
		z-index: 200;
		border-top: 1px solid var(--light-gray-color);
		box-shadow: 0 12px 48px #0613333d;
		animation: slideInUp 0.5s ease-out forwards;

		&-info {
			display: flex;
			flex-direction: row;
			gap: 4px;
			white-space: nowrap;
			padding: 8px 16px;
			margin-top: 6px;
			align-items: center;
			cursor: pointer;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			justify-content: space-between;
		}

		&-info &-counter {
			width: 83%;
		}

		&-total-time {
			margin-left: 10px;
		}

		&-info &-total-time {
			font-style: normal;
			font-weight: var(--font-weight-regular);
			font-size: var(--font-size-12);
			line-height: var(--line-height-16);
			color: var(--gray-color);
		}

		&-info &-right-part {
			display: flex;
			align-self: stretch;
			justify-content: center;
			align-items: flex-start;
		}


	}
}

.fixed-button {
	position: fixed;
	bottom: 24px;
	left: 16px;
	right: 16px;

	@media (min-width: 600px) {
		margin: 0 auto;
		width: 568px;
		max-width: calc(100% - 32px);
	}
}

.content .fixed-button {
	z-index: 200;
}

.flex-container {
	display: flex;
	gap: 8px;
	width: max-content;
	min-width: max-content;
	max-width: 100%;
}

.service-category_chips {
	padding: 0 4px;
	display: block;
}

.sticky {
	position: sticky;
	top: 64px;
}

section {
	display: flex;
	align-items: center;
}

.checkbox {
	&-label {
		position: relative;
		-webkit-user-select: none;
		user-select: none;
		border-radius: 6px;
		cursor: pointer;
		overflow: hidden;
		width: 24px;
		height: 24px;
		display: flex;
		background-color: var(--white-color);
		border: 1px solid var(--gray-color);

		&.checked {
			background-color: var(--primary-color);
			border: 1px solid var(--secondary-color);
		}
	}

	&__input {
		width: 20px;
		background: none;
		cursor: pointer;
	}

	&-checkmark {
		position: absolute;
		inset: 0;
		color: var(--white-color);
		display: none;
		margin: auto;
		width: 100%;
		height: 100%;
	}
}

.checkbox-label.checked .checkbox-checkmark {
	display: flex;
}

.ui-kit-svg-icon svg {
	display: block;
	width: inherit;
	height: inherit;
	line-height: inherit;
}

.chips {
	&-wrapper {
		flex-shrink: 0;
		padding-top: 16px;
	}

	&-container {
		position: relative;
	}

	&-scrollable-container {
		overflow-x: auto;
	}

	&-button {
		font-style: normal;
		font-weight: var(--font-weight-medium);
		font-size: var(--font-size-14);
		line-height: var(--line-height-18);
		display: block;
		padding: 10px;
		border-radius: 100px;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 48px;
		text-align: center;
		max-width: 275px;
		-webkit-tap-highlight-color: transparent;
		-webkit-user-select: none;
		user-select: none;
		-webkit-transform: translate3d(0, 0, 0);
		color: var(--white-color);
		background-color: var(--gray-color);
		border-color: var(--gray-color);
		border-width: 1px;
		border-style: solid;
		transition-property: background-color, background-image, color, border-color,
			opacity, box-shadow, border-radius;
		transition-duration: 0.2s;

		&.active {
			// margin-bottom: 40px;
			color: var(--white-color);
			background-color: var(--primary-color);
			border-color: var(--primary-color);
		}
	}
}

.services {
	&__list {
		display: block;
		padding: 20px 0;
	}
}

.service {
	&-item {}
}

.page {
	&-header-addition {
		display: block;
		width: 100%;
		max-width: 600px;
		overflow: hidden;
		height: -moz-fit-content;
		height: fit-content;
		-webkit-overflow-scrolling: touch;
	}

	&-bottom {
		&-panel {
			display: block;
			padding: 16px;
			border-top: 1px solid #e6ecff;
			background-color: var(--white-color);
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;

			@media (min-width: 600px) {
				margin: 0 auto;
				width: 600px;
				max-width: 100%;
			}
		}
	}

	&-services {
		&-group.inner-container {
			padding: 0 16px;
		}

		&-group {
			display: block;
			margin-top: 24px;

			& .label {
				margin-left: 0;
				margin-bottom: 12px;
				color: var(--black-color);
				font-style: normal;
				font-weight: var(--font-weight-bold);
				font-size: var(--font-size-20);
				line-height: var(--line-height-24);
			}
		}

		&-list {
			.container {
				overflow: hidden;
				padding: 0 0 100px;
			}
		}
	}
}

.substrate {
	display: block;
	background-color: var(--white-color);
	padding: 20px 16px;
	margin: 8px 8px 0;
	border-radius: 24px;

	& {
		margin: 0;
		padding: 16px 16px 20px;
	}
}

.cut-top {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.record-card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
}

.record-info-block {
	background-color: var(--white-color);
	padding: 12px 16px 16px;
	border-bottom-right-radius: 24px;
	border-bottom-left-radius: 24px;
}

.record-total-block,
.user-info-block,
.record-info-block,
.notify-text-block {
	margin: 8px 0 0;
	padding: 16px;
}

.record-info-block {
	margin-top: 0;
}

page {
	&-modal {
		display: block;
		position: fixed;
		inset: 0;
		width: 100%;
		z-index: 11000;
		overflow: hidden;
	}

	&-create {
		&-record {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	&-services {
		&-page {
			display: flex;
			flex-direction: column;
			min-height: 100%;
			background-color: var(--white-color);

			@media (min-width: 600px) {
				margin: 0 auto;
			}
		}



		&-card.service-card {
			margin-bottom: 12px;
		}

		&-card {
			display: block;
			cursor: pointer;
		}
	}

	&-bottom {
		&-panel {
			display: block;
			padding: 16px;
			border-top: 1px solid #e6ecff;
			background-color: var(--white-color);
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;

			@media (min-width: 600px) {
				margin: 0 auto;
				width: 600px;
				max-width: 100%;
			}
		}
	}
}

.title {
	color: var(--black-color);
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-wrap: break-word;

	&-wrapper {
		padding: 0 16px;
		flex-shrink: 0;
	}
}

page-create-record .create-record-container {
	flex: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

page-create-record page-bottom-panel {
	flex: 0;
	position: static;
}

ui-kit-horizontal-scrollable {
	width: 100%;
	padding: 0 12px 6px;
}

app-scrollable-category-chips ui-kit-horizontal-scrollable {
	padding-top: 0;
	padding-bottom: 0;
}

ui-kit-horizontal-scrollable {
	display: block;
	width: 100%;
	max-width: 600px;
	padding-left: 16px;
	overflow-x: scroll;
	overflow-x: scroll !important;
	transform: translateZ(0);
	scrollbar-color: rgba(0, 0, 0, 0) transparent;
	scrollbar-width: thin;
	transition: scrollbar-color 0.2s ease-out;
	transition: all 0.2s;

	&:hover {
		scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
	}

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
}

.appointment-page {
	h1 {
		font-size: var(--font-size-36);
		font-weight: bold;
		color: var(--white-color);
	}

	&-form {
		width: 100%;
		background-color: #fff;
		border-bottom-right-radius: 24px;
		border-bottom-left-radius: 24px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

		form {
			display: flex;
			flex-direction: column;
			align-items: center;

			.form-group {
				width: 90%;
				margin-bottom: 20px;

				label {
					display: block;
					font-size: var(--font-size-16);
					font-weight: var(--font-weight-bold);
					margin-bottom: 10px;
				}

				input,
				select {
					width: 100%;
					padding: 10px;
					border-radius: 5px;
					border: 1px solid #ccc;
					font-size: var(--font-size-16);
					color: var(--black-color);

					&:focus {
						outline: none;
						border-color: var(--primary-color);
					}
				}
			}
		}

		.btn-form {
			display: inline-block;
			border: none;
			outline: none;
			font-weight: var(--font-weight-medium);
			font-size: var(--font-size-16);
			font-family: var(--font-family);
			color: var(--white-color);
			background-color: var(--primary-color);
			border-radius: 5px;
			padding: 10px 20px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: (var(--primary-color), 10%);
			}
		}

		.btn-sub {
			width: 90%;
			padding: 10px;
			margin-bottom: 10px;
			font-family: var(--font-family);
			font-weight: var(--font-weight-medium);
			font-size: var(--font-size-16);
			color: var(--white-color);
			background-color: var(--primary-color);
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;

			&.last {
				margin-bottom: 30px;
			}

			&:hover {
				background-color: (var(--primary-color), 10%);
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 3px (var(--primary-color), 10%);
			}
		}
	}
}

page-services-page .content {
	flex-grow: 1;

	&-container {
		padding: 57px 16px 40px;
	}

	&-container {
		overflow-x: hidden;
		padding-top: 100px;
		margin-top: -100px;
	}
}

.category-title {
	overflow-wrap: break-word;
}



.ui-kit-simple-cell {
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	display: inline-flex;

	&.card-content-container {
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.ui-kit-simple-cell .left-part:is(:empty) {
	display: none;
}

.footer {
	display: flex;
	gap: 8px;
	justify-content: flex-start;
	align-items: center;
	padding-top: 8px;
}

.center-part:not(:empty) {
	flex: 1 1 0;
	align-self: stretch;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex;
	overflow: hidden;
}

.main-content {
	width: 100%;
}

.title-block__title {
	font-style: normal;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-16);
	line-height: var(--line-height-24);
	overflow: hidden;
	display: inline;
	color: $text-dark;
}

.comment {
	padding-top: 2px;
	position: relative;
	display: flex;
	color: $text-dark;

	&-expanded {
		// display: block;
		flex-direction: column;
	}

	&__seance-lenght {
		font-style: normal;
		font-weight: var(--font-weight-regular);
		font-size: var(--font-size-14);
		line-height: var(--line-height-20);
	}

	.divider {
		white-space: pre;

		&__more {
			display: none;
		}
	}

	&-expanded .divider {
		white-space: normal;
	}

	&__description {
		font-style: normal;
		font-weight: var(--font-weight-regular);
		font-size: var(--font-size-14);
		line-height: var(--line-height-20);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&-expanded &__description {
		white-space: normal;
		overflow: visible;
	}

	&-expanded &__description .description {
		white-space: break-spaces;
	}

	&__more {
		font-style: normal;
		font-weight: var(--font-weight-medium);
		font-size: var(--font-size-14);
		line-height: var(--line-height-20);
		margin-left: auto;
		text-decoration: underline;
	}
}



.horizontal-line {
	width: 100%;
	position: relative;
	display: block;
	margin: 20px 0;

	&::after {
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		position: absolute;
		bottom: 0;
		background-color: rgba(var(--light-gray-color-none-rgb), 0.5);
		z-index: 1;
	}
}

.master-wrapper {
	margin: 0 0 16px;
}

.time-and-price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
}

.price {
	font-style: normal;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-16);
	line-height: var(--line-height-20);
}

.price {
	color: var(--black-color);
}

.item {
	display: flex;
	justify-content: space-between;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--gray-color);

	&__total {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	&__title {
		padding-right: 8px;
	}

	&__cost {
		text-align: right;
	}
}

.date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 24px;
	margin-bottom: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}

.button-text {
	color: var(--dark-gray-color);
	font-weight: 600;
}

.button-text {
	font-style: normal;
	font-size: 17px;
	line-height: 20px;
}

.time {
	color: var(--dark-green-color);
	font-style: normal;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-16);
	line-height: var(--line-height-24);
}

page-record-footer {
	display: block;

	&.footer-block {
		margin-top: 12px;
	}

	& .page-record-footer {
		padding: 16px;
		background-color: var(--white-color);

		@media (min-width: 600px) {
			margin: 0 auto;
			width: 100%;
			max-width: 600px;
		}
	}
}