@import "./globalscss/variables";

.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}
.top-block__animation-heading > * {
	--delay: 120ms;
	--duration: 500ms;
	--stagger: 0;
	animation: ew-fade-in-bottom var(--duration) cubic-bezier(0.39, 0.58, 0.57, 1)
		forwards;
	animation-delay: calc(var(--stagger) * var(--delay));
	opacity: 0;
	transform: translate3d(0, 10px, 0);
}

.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgb(210 211 212 / var(--tw-text-opacity));
}

.top-block__animation-heading > :nth-child(2) {
	--stagger: 1;
}

.top-block__animation-heading > :nth-child(3) {
	--stagger: 2;
}

.no-animate .top-block__animation-heading > * {
	animation: none;
	opacity: 1;
	transform: none;
}

.main {
	--main-gap: 5rem;
	display: flex;
	flex-direction: column;
	gap: var(--main-gap);
}

.main,
.main > * {
	max-width: 100%;
}

.\!inverted,
.inverted {
	--tw-bg-opacity: 1;
	background-color: rgb(0 16 31 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(236 227 228 / var(--tw-text-opacity));
}

.top-block {
	overflow: hidden;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	min-width: 0;
	padding-left: var(--wrapper-padding);
	padding-right: var(--wrapper-padding);
	width: var(--wrapper-width);
	&--large {
		width: var(--wrapper-width-lg);
	}
	&--small {
		width: var(--wrapper-width-sm);
	}
}
.top-block ~ * {
	animation: ew-fade-in-bottom 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) forwards;
}

.calendar-iframe {
	margin-top: calc(var(--main-gap) * -1);
	position: relative;
}

.no-animate .top-block ~ * {
	animation: none;
}

.calendar-iframe--black:before {
	--tw-bg-opacity: 1;
	background-color: rgb(0 16 31 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(0 16 31 / var(--tw-text-opacity));
}

.calendar-iframe:before {
	border-radius: 0 0 1.25rem 1.25rem;
	bottom: 50%;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.border-black {
	--tw-border-opacity: 1;
	border-color: rgb(20 23 29 / var(--tw-border-opacity)) !important;
}

.calendar-iframe__iframe {
	height: auto;
	max-width: 100%;
	outline: none;
	width: 100%;
	@media (min-width: 768px) {
		box-shadow: 0 0 0 8px currentColor;
	}
}

@keyframes ew-fade-in-bottom {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
