@import './styles.scss';

.app-wrapper {
  font-family: $font-family;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: $secondary-color;
}
.headerUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 56px;
  background-color: #f3f3f3;
  border-radius: 20px;

  margin-bottom: 10px;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-icon,
    &-space {
      display: flex;
      flex: 1;
    }
    &-icon {
      font-size: $font-size-22;
      margin-left: 15px;
      &:hover {
        cursor: pointer;
      }
    }
    &-title {
      display: flex;
      flex: 4;
      justify-content: center;
    }
  }
}
.personal-settings__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .settings-section {
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    margin-bottom: 10px;
  }
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Добавлено свойство для выравнивания по центру
  height: 97.5vh;
  .profile-section {
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    &:last-child {
      margin-top: auto;
      margin-bottom: 0;
      padding: 0;
    }
    .userAppointments {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        &-icon {
          color: $secondary-color;
          font-size: $font-size-18;
        }
        &-h3 {
          margin-left: 15px;
          font-size: $font-size-18;
          font-weight: $font-weight-medium;
          color: $secondary-color;
        }
      }

      &-arrow {
        color: $secondary-color;
        font-size: $font-size-22;
      }
    }
    .logout {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: $font-family;
      padding-left: 0;
      border-width: 0;
      border-style: none;
      color: $logout-color;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      &-icon {
        font-size: $font-size-24;
      }
      &-label {
        font-size: $font-size-18;
        font-weight: $font-weight-medium;
        margin-left: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

// .settingsInfo {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   &__flex {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     &__pcol {
//       display: flex;
//       flex-direction: column;
//       &-p {
//         color: $gray-text-color;
//         margin: 0;
//         text-align: center;
//         font-size: $font-size-16;
//         &:first-child {
//           font-size: $font-size-18;
//           font-weight: 600;
//           margin-bottom: 5px;
//           color: $secondary-color;
//         }
//       }
//     }
//   }
// }
.settingsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  background-color: none;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 2px 0 2px 0;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    justify-content: space-between;

    &__pcol {
      display: flex;
      flex-direction: column;
      &-p {
        color: $gray-text-color;
        margin: 0;
        &:first-child {
          font-size: $font-size-16;
          font-weight: 600;
          margin-bottom: 5px;
          color: $secondary-color;
        }
      }
    }
    &-arrow {
      display: flex;
      flex-wrap: wrap;
      font-size: $font-size-22;
      color: $secondary-color;
    }
  }
}
